/* Your Awesome Styling*/

/* bio and resume */

.bio #bio article{
    background: red;
    display: flex;
    justify-content: flex-end;
}

.bio #bio section{
    margin: 0 10px;
    width: 50%;
    background: red;
}

.bio section:nth-child(1){
    width: 400px;
}


/* resume */




.contact{
    background: green;
}

/* form */
form {
  background: #ccc;
  width: 400px;
}

label,
input {
  display: block;
  width: auto;
  margin: 1em;
}

input[type="submit"]{
    border: none;
}




/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}